<mat-toolbar>
  <span class="logo">Kinondoni</span>
  <span class="spacer"></span>
  <button mat-button>Home</button>
  <button mat-button>About</button>
  <button mat-icon-button aria-label="Example icon button with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-raised-button color="primary" class="login-button" (click)="openLoginDialog()">Login</button>
  <button mat-raised-button color="accent" class="signup-button" (click)="openSignupDialog()">Sign-up</button>
</mat-toolbar>