/* homepage.component.css */
.homepage-container {
  background-size: cover;
  background-position: center;
  background-image: url('assets/images/web.jpeg');
  min-height: calc(100vh - 128px); /* Adjust height according to header and footer height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: lightseagreen;
}

.content {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 8px;
}

mat-toolbar {
  justify-content: center;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.actions {
  margin-top: 20px;
}

button {
  margin: 10px;
  font-size: 1.2em;
}
