/* homepage.component.css */
.homepage-container {
  background-size: cover;
  background-position: center;
  background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0');
  min-height: calc(100vh - 128px); /* Adjust height according to header and footer height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: lightseagreen;
}

.content {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 8px;
}

mat-toolbar {
  justify-content: center;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.actions {
  margin-top: 20px;
}

button {
  margin: 10px;
  font-size: 1.2em;
}


button[color="primary"] {
  background-color: #3f51b5;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button[color="primary"]:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button[color="accent"] {
  background-color: #ff4081; /* Custom accent color */
  color: white; /* Text color */
  padding: 10px 20px; /* Padding for better spacing */
  border: none; /* Remove default border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Change cursor to pointer */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and box-shadow */
}

button[color="accent"]:hover {
  transform: translateY(-3px); /* Move button up when hovered */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow effect */
}
