<mat-toolbar color="primary">Admin Dashboard</mat-toolbar>
<mat-nav-list>
  <a mat-list-item routerLink="/admin">
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </a>
  <a mat-list-item routerLink="/admin/users">
    <mat-icon>group</mat-icon>
    Users
  </a>
  <a mat-list-item routerLink="/admin/map">
    <mat-icon>map</mat-icon>
    Map
  </a>
  <a mat-list-item routerLink="/admin/reports">
    <mat-icon>assessment</mat-icon>
    Reports
  </a>
  <a mat-list-item routerLink="/admin/settings">
    <mat-icon>settings</mat-icon>
    Settings
  </a>
  <a mat-list-item routerLink="/admin/logout">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </a>
</mat-nav-list>
