/* src/app/admin/admin-sidebar/admin-sidebar.component.css */
.sidenav {
  width: 250px;
  height: 500px; /* Set the height to 100% of the viewport height */
}

.mat-toolbar {
  background: #3f51b5;
  color: white;
}
